/* COMIENZO PAGINA CONTACTO */
.caja__formulario{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    &--item{
        padding: 10px;
        font-size: 15px;
        font-family: $text-font;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

#formulario{
    display: flex;
    justify-content: center;
    width: 400px;
    border: 1px solid $lila;
    margin-top: 20px;
    margin-right: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
}

}
.foto-contacto img{
    max-width: 400px;
}
/*FIN PAGINA CONTACTO*/