
/* PAGINA PRODUCTOS*/
.contenedor__productos{
    display: flex;
    flex-direction: column;
    align-items: center;
    &--imagen{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
        img{
            max-width: 13.7rem;
            max-height: 80%;
            margin: 5px;
        }
    }
    &--parrafo{
        @extend .botones;
        max-width: 70%;
        padding: 10px;
        li{
        list-style-type: disc;
        font-family: $text-font;
        }
    }
}



.seccion__productos--primera{
    padding: 25px 10px;
}

@media (min-width: 768px) {
    .seccion__productos--primera{
        display: flex;
        .contenedor__productos{
            display: flex;
            flex-direction: columns;
            justify-content: center;
        }
    }

    .seccion__productos--segunda{
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 1024px){
    .seccion__productos--primera{
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        .contenedor__productos{
            display: flex;
            flex-direction: column;
            width: 34%;
        }
    }
  
    .seccion__productos--segunda{
        display: flex;
        flex-direction: row;
        .contenedor__productos{
            width: 50%;
        }
    }
}
/*FIN PAGINA PRODUCTOS*/