/* COMIENZO PAGINA SERVICIOS*/
.contenedor__servicios{
    margin: 10px;
    display: flex;
    justify-content: center;
    &--col{ 
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        @extend .contenedor__productos--parrafo;
    }
    &--img img{
        max-width: 100%;
        margin: auto;
    }
    &--parrafo{
        padding: 10px;
    }
}

/* FIN PAGINA SERVICIOS*/